{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5  %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery-bundle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
    <style>
        .flatpickr-months .flatpickr-month, .flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-weekdays, .flatpickr-day.selected, span.flatpickr-weekday{
            background: #fbcd91 !important;
        }
        
        .flatpickr-calendar.inline{
            margin-left: auto !important;
            margin-right: auto !important;
        }
        /* .bg-main{
            background: white !important;
            display: none;
        } */
    </style>
    
{% endblock %}


{% block content %}
    <h1 class="text-black" id="head-text">Book an Appointment</h1>
    <div class="container-fluid bg-light p-4">
        <div class="row mb-5">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3 flex-nowrap">                            
                        <div class="form-floating w-100">
                            <input type="text" name="customer_id" value="{{user.id}}" hidden/>
                        </div>
                    </div>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

            <div class="col">
                <div class="card">
                    <img src="{% static 'logo/logo.png' %}" class="card-img-top" alt="Service Thumbnail" id="service-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title" id="service-name"></h5>
                        <p class="card-text" id="service-description"></p>
                        <p class="card-text" id="service-price"></p>
                    </div>
                </div>
                  
            </div>
        </div>
        
        
    </div>

    <p id="dateToday" hidden>{{ today }}</p>
    <p id="minTime" hidden>{{ min_time }}</p>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        function getServiceInfo(selectedOption){
            $.ajax({
                url: '/service/' + selectedOption + '/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Process the data (the service details) received from the API
                    console.log(data);
                    
                    $("#service-thumbnail").attr('src', data.thumbnail);
                    $("#service-name").text(data.name);
                    $("#service-description").text(data.description);
                    $("#service-price").text(`₱${data.price}`);
                },
                error: function(error) {
                console.log(error);
                }
            });
        }

        $(document).ready(function(){
            $('form').on('change', 'select[name="service"]', function(){
                var selectedOption = $(this).val();
                getServiceInfo(selectedOption);
            });

            let today = $('#dateToday').text();
            let minTime = $('#minTime').text();

            const config = {
                // inline: true,
                enableTime: true,
                enableSeconds: false,
                time_24hr: false,
                altInput: true,
                altFormat: "F j, Y, h:i K",
                dateFormat: "Y-m-d, h:i K",
                defaultDate: today,
                minTime: "09:00",
                maxTime: "17:00",
                minuteIncrement: 30,
                minDate: today,
                disable: [
                    function(date) {
                        // 0 = Sunday
                        return (date.getDay() === 0);
                    }
                ]
            };

            $("input[name='date']").flatpickr(config);
            $("input[name='date_of_death']").flatpickr();


        });
    </script>
    
    <script>
        // Function to get URL parameter by name
        function getUrlParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }


        $(document).ready(function(){
            // Get the 'service' parameter from the URL
            const serviceParam = getUrlParameter('service');
            console.log(serviceParam);
            // Set the selected option based on the 'service' parameter
            if (serviceParam) {
                const serviceSelect = document.getElementById('service');
                // const optionToSelect = serviceSelect.querySelector(`[value="${serviceParam}"]`);
                $(`option[value="${serviceParam}"]`).attr('selected', true);
                getServiceInfo(serviceParam);
                // if (optionToSelect) {
                //     optionToSelect.selected = true;
                // }
            }

        });
    </script>

{% endblock %}