{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery-bundle.css" />
{% endblock %}

{% block content %}
<div class="row h-100">
    <!-- <div class="bg-main "></div> -->
    
        <h1 class="display-4">Welcome to {{ site_title }}</h1>
        <p class="lead">Experience the world of beauty, wellness, and confidence</p>
        
      
    
      <section class="container my-1">
        <div class="row p-5">
          {% for service in services %}
          <div class="col-lg-4">
              <div class="card mb-4 p-3 h-100">
                  <img src="{{service.thumbnail.url}}" class="card-img-top" alt="{{ service.name }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ service.name }}</h5>
                      <p class="card-text">{{ service.description }}</p>
                  </div>
                  <div class="card-footer">
                    {% if user.is_authenticated %}
                    <a href="{% url 'services' %}" class="btn btn-info">More info</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-info">More info</a>
                    {% endif %}
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      </section>


      
    
      <section class="container bg-light py-5 text-center">
        <img src="{% static 'logo/logo.png' %}" alt="Logo" class="img-fluid d-inline-block align-text-top w-25 mb-3">
        <br>
        {% if user.is_authenticated %}
        <a href="{% url 'appointment' %}" class="btn btn-primary btn-lg">Book an Appointment now!</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Book an Appointment now!</a>
        {% endif %}
      </section>
    
      <section class="container my-5">
        <div class="row p-5">
          {% for product in products %}
          <div class="col-lg-4">
              <div class="card mb-4 p-3">
                  <img src="{{product.thumbnail.url}}" class="card-img-top" alt="{{ product.name }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="container bg-light py-5">
        <div class="text-center">
          <h2 class="mb-4">Expert Beauty Advice</h2>
          <p class="lead">Our team of experienced beauty professionals is here to guide you.</p>
          <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </section>
</div>

{% endblock %}