{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5  %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery-bundle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-fullscreen.min.css" integrity="sha512-JlgW3xkdBcsdFiSfFk5Cfj3sTgo3hA63/lPmZ4SXJegICSLcH43BuwDNlC9fqoUy2h3Tma8Eo48xlZ5XMjM+aQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-medium-zoom.min.css" integrity="sha512-ILbxmmqtYUE97Fmhl6ebHhHR6Q1G3GSC9dpbU64NITFIG8XGXqdYlmzGAb0I49htqaP8JNm2eLbEdBITqWbL5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-thumbnail.min.css" integrity="sha512-GRxDpj/bx6/I4y6h2LE5rbGaqRcbTu4dYhaTewlS8Nh9hm/akYprvOTZD7GR+FRCALiKfe8u1gjvWEEGEtoR6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .bg-main{
            background: white !important;
            display: none;
        }
        .header{
            background-image: url("/static/images/240596201_107596578311650_7952059424859367240_n.jpg") !important;
            background-position-y: center;
        }
        h2 {
            color: #333; /* Set your desired text color */
            text-shadow: 2px 2px 4px rgba(255, 251, 0, 0.5); /* Add an outer glow */
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css" integrity="sha512-CRFv/YVJyElHXTiMgnhWKd2f04Hd/BUJkwcyqYmlpL1ugSYW23nNRazLk960mlz7dugTrETCGGjcsnspPOS6qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
{% endblock %}


{% block content %}
    
    
    <div class="container-fluid bg-light p-4">
        <div class="row header p-4">
            <div class="col">
                <h2 class="text-black" id="head-text">Our Products</h2>
            </div>
        </div>
        <div class="row mb-5" >
            <section class="container my-5">
                <div class="row p-5" id="lightgallery">
                {% for product in products %}
                <div class="col-lg-4">
                    <div class="card mb-4 p-3 h-100">
                        <img src="{{product.thumbnail.url}}" class="card-img-top thumbnail" alt="{{ product.name }}" data-src="{{product.thumbnail.url}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer">
                            {% if product.stock > 0 %}
                                <a href="#" data-product="{{product.id}}" class="btn btn-info w-100"  data-bs-toggle="modal" data-bs-target="#exampleModal">₱{{ product.price }}<br>Buy now</a>
                            {% else %}
                                <button class="btn btn-secondary w-100" disabled>Out of stock</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </section>
        </div>  
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centere">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Buy now</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="order-form" action="{% url 'create_order' %}" method="POST">
                    
                    
                    <h2 id="product-name"></h2>
                    <img id="product-thumbnail" class="img-fluid w-25" src="{% static 'logo/logo.png' %}" alt="Product Image">
                    <p id="product-description"></p>
                    <p id="product-price" class="fw-bolder">Price: </p>
                    <p id="product-stock" class="fw-bolder">Stock: </p>
                    

                    {% csrf_token %}
                    <input type="text" name="product_id" hidden/>
                    <input type="number" name="price" hidden/>
                    <input type="number" name="stock" hidden/>
                    <input type="number" name="discount" hidden/>
                    

                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
                    
                    <label for="id_payment_method" class="form-label requiredField">
                        Payment method<span class="asteriskField">*</span> </label>
                    <select name="payment_method" class="select form-select" id="id_payment_method">
                        <option value="1" selected="TRUE">Cash</option>
                        <option value="2">Gcash</option>
                        <option value="3">Card</option>
                    </select>
                    <p id="total-price" class="fw-bolder fs-3"></p>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" form="order-form" class="btn btn-primary" id="addToCart">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInput = document.getElementById('quantity');
            const productStockText = document.getElementById('product-stock').textContent;
            const stockValue = parseInt(productStockText.split(': ')[1].trim());
    
            quantityInput.setAttribute('max', stockValue);
        });
    </script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha512-11B0rPDzvnSOYzAT37QdnYgt0z9Xg+wX5tckB1QKl5Znl8RPvrB5npo38K2jCt+Ad44udCfBiKt9D4jRdkSE1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/pager/lg-pager.es5.min.js" integrity="sha512-8HOl3Wy4i/c6mO3//QLqwMjxpCpyWlZe+8Z3QPD241qm1nI1D23aYG3mqFhp3yBpGpSXFeNUFYHlIfVCNfJ3Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js" integrity="sha512-BLW2Jrofiqm6m7JhkQDIh2olT0EBI58+hIL/AXWvo8gOXKmsNlU6myJyEkTy6rOAAZjn0032FRk8sl9RgXPYIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-VBbe8aA3uiK90EUKJnZ4iEs0lKXRhzaAXL8CIHWYReUwULzxkOSxlNixn41OLdX0R1KNP23/s76YPyeRhE6P+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js" integrity="sha512-8dQZtymfQeDiZ4bBCFhrKZhDcZir15MqnEDBRiR6ReIVHLcdnCyJrhPIS0QifLGuMkFZsw9QMNeD9JtiLwieTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
    
    <script type="text/javascript">
        var selectedProduct = null;

        function getProductInfo(selectedId){
            $.ajax({
                url: '/product/' + selectedId + '/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Process the data (the service details) received from the API
                    console.log(data);
                    selectedProduct = data;
                    
                    $("#product-thumbnail").attr('src', data.thumbnail);
                    $("#product-name").text(data.name);
                    $("#product-description").text(data.description);
                    $("#product-price").text(`Price: ₱${data.price}`);
                    $("#product-stock").text(`Stock: ${data.stock}`);
                    $("input[name='product_id']").val(data.id);
                    var quantityInput = document.getElementById("quantity");
                    quantityInput.value = 1;
                    $("#quantity").attr('max', data.stock);
                    updateTotalPrice(data.price);
                    $('input[name="discount"]').val(data.discount);
                    $('input[name="price"]').val(data.price);
                },
                error: function(error) {
                console.log(error);
                }
            });
        }
        

        function updateTotalPrice(basePrice){
            let quantity = $('#quantity').val();
            let total = `₱${basePrice * quantity}`;
            $('#total-price').text(`Total Price: ${total}`);
            $('input[name="price"]').val(total);
        }
        
        $(document).ready(function(){

            var quantityInput = document.getElementById("quantity");

            // Add an onchange event listener
            quantityInput.addEventListener("change", function () {
                // Get the new quantity value
                // var newQuantity = quantityInput.value;

                // Perform any actions you want when the quantity changes
                // console.log("New quantity: " + newQuantity);
                if(selectedProduct != null){
                    updateTotalPrice(selectedProduct.price);
                }
            });
            
            const myModal = document.getElementById('exampleModal')

            myModal.addEventListener('shown.bs.modal', (event) => {
                

                let id = event.relatedTarget.getAttribute('data-product');
                getProductInfo(id);
                
            })

            const container = document.getElementById('lightgallery');

            lightGallery(container, {
                    plugins: [lgZoom, lgThumbnail],
                    // licenseKey: 'your_license_key',
                    speed: 500,
                    selector: '.thumbnail',
                    // ... other settings
                });

            

            // $('#lightgallery').justifiedGallery({
            //     captions: false,
            //     lastRow: "hide",
            //     rowHeight: 180,
            //     margins: 5
            // })
            // .on("jg.complete", function(){
            //     lightGallery(container, {
            //         plugins: [lgZoom, lgThumbnail],
            //         // licenseKey: 'your_license_key',
            //         speed: 500,
            //         // ... other settings
            //     });
            // });

            


            // jQuery("#animated-thumbnails-gallery")
            // .justifiedGallery({
            //     captions: false,
            //     lastRow: "hide",
            //     rowHeight: 180,
            //     margins: 5
            // })
            // .on("jg.complete", function () {
            //     window.lightGallery(
            //     document.getElementById("animated-thumbnails-gallery"),
            //     {
            //         autoplayFirstVideo: false,
            //         pager: false,
            //         galleryId: "nature",
            //         plugins: [lgZoom, lgThumbnail],
            //         mobileSettings: {
            //         controls: false,
            //         showCloseIcon: false,
            //         download: false,
            //         rotate: false
            //         }
            //     }
            //     );
            // });


        });
    </script>
    


{% endblock %}